.header{
    padding-top: 36px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    &__logo{
        font-weight: 800;
        font-size: 23px;
        line-height: 31px;
        color: #31353B;
        text-decoration: none;
    }
    &__menu-list{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        column-gap: 46px;
        row-gap: 15px;
    }
    &__menu-link{
        font-weight: 700;
        font-size: 13px;
        line-height: 17px;
        color: #000000;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}